.header{
    height: 550px;
    background: url("../assets/images/headerbg.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}
.header__container{
    height: 300px;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 20px;
}
.header__logo{
    margin-right: 20px;
}
.header__list{
    display: flex;
    gap: 20px;
}
.header__phone {
    margin-left: 30px;
    color: white;
}
#city-select {
    margin: 0 300px 0 20px; 
    border-radius: 30px;
    padding: 10px;
}
@media (max-width: 1129px){
    .header__phone {
        display: none;
    }
    .header__list {
        margin-right: 30px;
    }
    #city-select {
        margin: 0 auto 0 20px;
    }
}
@media (max-width: 700px) {
    .header__list {
        margin-right: 30px;
        flex-direction: column;
    }
}
@media (max-width:464px) {
    #city-select {
        display: none;
    }
}
.header__call {
    border: 1px solid yellow;
    border-radius: 30px;
    background-color: yellow;
    padding: 10px;
    font-size: 12px;
}
.header__list-item a {
    color: white;
    position: relative;
    font-weight: 600;
}
.header__list-item a:hover {
    color: yellow;
}
/* изначально невидим (ширина 0), но может потом анимируется для изменения своей ширины */
.header__list-item a::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: yellow;
    content: "";
    transition: width 0.3s ease-out;
}
/* то самое изменение ширины до 100% от блока с ссылкой */
.header__list-item a:hover::after, .header__list-item a:focus::after {
    width: 100%;
}
#header__span {
    color: yellow;
}
.header__nav option {
    color: black;
    background-color: white;
}