@import url('./header.css');
@import url('./record.css');
@import url('./education.css');
@import url('./groups.css');
@import url('./ticket.css');
@import url('./branches.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
button {
    border: none;
    outline: none;
}
header, section {
    overflow: auto;
}
